<?xml version="1.0"?>
<launch>

<arg name="scan_topic" default="base_scan" />
<arg name="map_topic" default="map" />
<arg name="cmd_vel_topic" default="cmd_vel" />
<arg name="odom_topic" default="odom" />
<arg name="use_map_topic"  default="true" />

<arg name="amcl_include" default="$(find fetch_navigation)/launch/include/amcl.launch.xml" />
<!-- <arg name="move_base_include" default="$(find umma_navigation)/launch/include/move_base_sim.launch.xml" /> -->

<!-- localize the robot -->
<include file="$(arg amcl_include)" >
  <arg name="scan_topic" value="$(arg scan_topic)" />
  <arg name="map_topic" value="$(arg map_topic)" />
  <arg name="use_map_topic" value="$(arg use_map_topic)" />
</include>

<!-- localize the robot -->
<!-- <include file="$(arg amcl_include)" >
<arg name="scan_topic" value="$(arg scan_topic)" />
<arg name="map_topic" value="$(arg map_topic)" />
<arg name="use_map_topic" value="$(arg use_map_topic)" />
</include> -->

<!-- <include file="$(find fetch_navigation)/launch/build_map.launch" /> -->

<node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
  <remap from="scan" to="base_scan" />
  <param name="odom_frame" value="odom" />
  <param name="base_frame" value="base_link" />

  <param name="linearUpdate" value="0.1" />
  <param name="angularUpdate" value="0.05" />
  <param name="temporalUpdate" value="0.5" />
</node>


<!-- <include file="$(arg gazebo_include)" >
</include> -->

<!-- generate cost map -->
  <!-- <node pkg="move_base" type="move_base" name="move_base" respawn="true" output="screen">
    <rosparam file="$(find umma_navigation)/params/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find umma_navigation)/params/fetch/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find umma_navigation)/params/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find umma_navigation)/params/fetch/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find umma_navigation)/params/costmap_local.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find umma_navigation)/params/fetch/costmap_local.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find umma_navigation)/params/costmap_global.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find umma_navigation)/params/fetch/costmap_global.yaml" command="load" ns="global_costmap" />
    
  </node> -->

<!-- <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen"> 
  <rosparam file="$(find ros2lcm)/config/exploration.yaml" command="load" />    
</node> -->

<!-- <node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>
<node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen">
    <param name="frequency" type="double" value="1.0"/>
    <param name="goal_aliasing" type="double" value="0.5"/>   
    <rosparam ns="explore_costmap" subst_value="true" file="$(find ros2lcm)/config/exploration.yaml" command="load" /> 
</node> -->

<!-- tilt the head -->
  <!-- <node pkg="fetch_navigation" type="tilt_head.py" name="tilt_head_node" /> --> 
</launch> 
