<launch>

<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <remap from="image" to="/robot_1_depth"/>
    <remap from="camera_info" to="/robot_1_camera_info_topic"/>
    <param name="output_frame_id" value="laser" />
    <param name="scan_height" value="2" />
    <param name="scan_time" value="0.025" />
    
    <!-- <param name="range_max" value="50.0" /> -->
</node>

<!-- <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">

    <param name="max_iterations" value="10"/>
    <param name="base_frame" value="base_frame"/>
    <param name="fixed_frame" value="odom"/>
	<param name="base_frame" value="base_frame"/>
    
</node> -->

<!-- <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen"> 
    <rosparam file="$(find umma_navigation)/config/exploration.yaml" command="load" />    
</node> -->

</launch>
